* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Noto Sans TC", sans-serif;
}

hr {
  border: 1px solid black;
}

nav {
  background-color: #f7b990;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li a {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav ul li a:hover {
  background-color: #f5a773;
}

nav ul .navSearch {
  margin-right: 3rem;
}

@media screen and (max-width: 550px) {
  ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  ul .navSearch {
    margin-right: 0rem !important;
  }
}

.home {
  margin: 1rem 6rem;
  padding: 1rem;
  background-color: #ce8b5e;
  border-radius: 20px;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 600px;
          flex: 0 1 600px;
  padding: 2rem;
  margin: 1rem;
  font-size: 1.5rem;
}

.home .bonus {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 170px;
          flex: 0 1 170px;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .bonus button {
  border: none;
  border-radius: 5px;
  background-color: #8f4c00;
}

.home .bonus button a {
  font-size: 2rem;
  padding: 1rem;
  color: #fafafa;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem 6rem;
}

.section .leftsection {
  min-height: 35vh;
  margin-right: 1rem;
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
  background-color: #703c1b;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: lighter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
}

.section .leftsection button {
  padding: 0.5rem;
  font-size: 2rem;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #703c1b;
}

.section .leftsection button a {
  color: white;
}

.section .rightsection {
  min-height: 35vh;
  margin-left: 1rem;
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
  background-color: #ecc4aa;
  border: none;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
}

.section .rightsection button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  border-radius: 5px;
}

@media screen and (max-width: 1150px) {
  .home {
    margin: 1rem 2rem !important;
    padding: 0rem !important;
  }
  .home .title {
    padding: 0rem !important;
  }
  .home .bonus button {
    margin-bottom: 1rem;
    width: 200px !important;
  }
  .section {
    margin: 1rem 2rem !important;
  }
  .section .leftsection {
    margin-right: 0rem !important;
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 1 600px !important;
            flex: 1 1 600px !important;
    margin-bottom: 1rem !important;
    padding: 1rem !important;
  }
  .section .leftsection button {
    margin-bottom: 1rem;
    width: 200px !important;
  }
  .section .rightsection {
    margin-left: 0rem !important;
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 1 600px !important;
            flex: 1 1 600px !important;
    padding: 1rem !important;
  }
  .section .rightsection button {
    margin-bottom: 1rem;
    width: 200px !important;
  }
}

.register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 92vh;
}

.register .leftsection {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  min-height: 93vh;
  background-image: url("../../public/registerPicture.jpg");
  background-size: cover;
}

.register .rightsection {
  min-height: 93vh;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 700px;
          flex: 1 1 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register .rightsection .content {
  font-size: 1.25rem;
  text-align: center;
  margin: 1rem;
}

.register .rightsection .content h1,
.register .rightsection .content h3 {
  margin: 0.5rem;
}

.register .rightsection .content h1 a,
.register .rightsection .content h3 a {
  color: orange;
  font-weight: lighter;
}

.register .rightsection .message {
  font-size: 1.3rem;
  color: red;
}

.register .rightsection .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register .rightsection .input input {
  margin: 0.5rem;
  padding: 0.3rem;
  width: 400px;
  font-size: 1.5rem;
}

.register .rightsection .select select {
  margin: 0.5rem;
  padding: 0.3rem;
  width: 400px;
  font-size: 1.5rem;
}

.register .rightsection button {
  margin: 0.5rem;
  padding: 0.3rem;
  width: 400px;
  font-size: 1.5rem;
}

@media screen and (max-width: 1000px) {
  .leftsection {
    min-height: 0rem !important;
  }
}

@media screen and (max-width: 550px) {
  input {
    width: 80vw !important;
    font-size: 1rem !important;
  }
  select {
    width: 80vw !important;
    font-size: 1rem !important;
  }
  button {
    width: 80vw !important;
    font-size: 1rem !important;
  }
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: gray;
  padding: 0.2rem;
}

.footer .container a {
  font-size: 1.25rem;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 92vh;
}

.login .leftsection {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  min-height: 93vh;
  background-image: url("../../public/loginPicture.jpg");
  background-size: cover;
}

.login .rightsection {
  min-height: 93vh;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 700px;
          flex: 1 1 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .rightsection .content {
  font-size: 1.25rem;
  text-align: center;
  margin: 1rem;
}

.login .rightsection .content h1,
.login .rightsection .content h3 {
  margin: 0.5rem;
}

.login .rightsection .content h1 a,
.login .rightsection .content h3 a {
  color: orange;
  font-weight: lighter;
}

.login .rightsection .message {
  font-size: 1.3rem;
  color: red;
}

.login .rightsection .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .rightsection .input input {
  margin: 0.5rem;
  padding: 0.3rem;
  width: 400px;
  font-size: 1.5rem;
}

.login .rightsection .select select {
  margin: 0.5rem;
  padding: 0.3rem;
  width: 400px;
  font-size: 1.5rem;
}

.login .rightsection button {
  margin: 0.5rem;
  padding: 0.3rem;
  width: 400px;
  font-size: 1.5rem;
}

@media screen and (max-width: 1000px) {
  .leftsection {
    min-height: 0rem !important;
  }
}

@media screen and (max-width: 550px) {
  input {
    width: 80vw !important;
    font-size: 1rem !important;
  }
  select {
    width: 80vw !important;
    font-size: 1rem !important;
  }
  button {
    width: 80vw !important;
    font-size: 1rem !important;
  }
}

.search {
  min-height: 93vh;
  width: 100%;
}

.search .topsection {
  min-height: 15vh;
}

.search .topsection h3 {
  padding: 1rem;
  font-size: 2.5rem;
  text-align: center;
}

.search .topsection .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search .topsection .input input {
  margin: 0rem 0.1rem;
  font-size: 1.5rem;
  min-height: 45px;
  padding: 0.25rem;
  border-radius: 5px;
  border: 2px solid #f7b990;
  width: 500px;
}

.search .topsection .input button {
  font-size: 1.5rem;
  min-height: 45px;
  padding: 0.25rem;
  border-radius: 5px;
  background-color: #fc8d43;
  border: 2px solid #f7b990;
  color: white;
  width: 150px;
}

.search .topsection .button {
  margin: 1rem;
  text-align: center;
}

.search .topsection .button button {
  font-size: 1.25rem;
  padding: 0.7rem;
  margin: 0.1rem;
  border-radius: 5px;
  border: 2px solid #f7b990;
  color: black;
}

.search .bottomsection {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search .bottomsection .card {
  width: 350px;
  margin: 1rem;
  padding: 1rem;
  background-color: #f7b990;
  border-radius: 10px;
}

.search .bottomsection .card .button {
  text-align: end;
}

.search .bottomsection .card .button button {
  font-size: 1.2rem;
  padding: 0.5rem;
  background-color: #f38c47;
  color: white;
  border: none;
  border-radius: 5px;
  width: 200px;
}

@media screen and (max-width: 795px) {
  .topsection .input input {
    width: 85vw !important;
  }
  .topsection .input button {
    width: 50vw !important;
  }
  .topsection .button button {
    width: 70vw !important;
  }
}

@media screen and (max-width: 408px) {
  .topsection .input input {
    margin: 1rem !important;
  }
  .bottomsection .card .button button {
    width: 40vw !important;
  }
}

.profile {
  min-height: 93vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile .topsection {
  margin-top: 1rem;
  text-align: center;
  width: 500px;
  min-height: 150px;
  background-color: #f7a975;
  border-radius: 10px;
}

.profile .button {
  margin: 1rem;
  text-align: center;
}

.profile .button button {
  font-size: 1.25rem;
  padding: 0.7rem;
  margin: 0.1rem;
  border-radius: 5px;
  border: 2px solid #f7b990;
  color: black;
}

.profile .bottomsection {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile .bottomsection .card {
  width: 350px;
  margin: 1rem;
  padding: 1rem;
  background-color: #f7b990;
  border-radius: 10px;
}

.profile .bottomsection .card .button {
  text-align: end;
}

.profile .bottomsection .card .button button {
  font-size: 1.2rem;
  padding: 0.5rem;
  background-color: #f38c47;
  color: white;
  border: none;
  border-radius: 5px;
  width: 200px;
}

@media screen and (max-width: 550px) {
  .topsection {
    width: 95vw !important;
  }
  .button button {
    width: 150px !important;
  }
  .bottomsection .card {
    width: 80vw !important;
  }
}

.enroll {
  min-height: 93vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.enroll .content {
  margin: 1rem;
  text-align: center;
  background-color: #f7a975;
  border-radius: 10px;
  width: 700px;
  padding: 1rem;
}

.enroll iframe {
  border-radius: 10px;
}

.enroll .button {
  text-align: center;
}

.enroll .button button {
  font-size: 1.25rem;
  padding: 0.2rem;
  margin: 0.2rem;
  border: 2px solid #f7b990;
  border-radius: 5px;
}

.enroll .action button {
  font-size: 2rem;
  padding: 1rem;
  margin: 0.2rem;
  background-color: #f38c47;
  color: white;
  border: none;
  border-radius: 5px;
  width: 200px;
}

@media screen and (max-width: 830px) {
  .enroll .content {
    width: 90vw !important;
  }
  .enroll iframe {
    width: 90vw !important;
    height: 90vw !important;
  }
  .enroll .button button {
    width: 100px !important;
  }
}
/*# sourceMappingURL=style.css.map */